<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<events>
    <event>
        <id>Z698xZ2qZ1k1fuA8b</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-04T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k7EO4Av</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-09-18T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vaS39AY</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-09-19T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vrkvZ38</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-09-20T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v_oqxoe</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-09-25T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vowfF-f</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-09-26T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kONkpax</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-09-27T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kbI4Uav</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-10-02T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v4MZJas</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-10-03T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v73axP9</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-10-04T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kOIFUZg</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-10-09T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kOeCouY</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-10-10T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vfPaFO8</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-10-11T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16eedCfu_</id>
        <countryCode>ES</countryCode>
        <city>Chiclana de la Frontera</city>
        <startDateTime>2026-08-01T20:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vAy7kFA</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-11-04T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kbdPIOv</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-11-05T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k4IOSQ9</id>
        <countryCode>ES</countryCode>
        <city>Marbella</city>
        <startDateTime>2026-07-07T20:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kf4Gb0b</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2027-05-01T18:15:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k8UZwJ6</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2027-05-02T18:15:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16eZxvPe7</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2027-05-05T18:15:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k8FFJf_</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2027-05-06T18:15:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kutPbZ7</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-07-10T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7OE_O</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-07-10T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1koYq7f6</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-07-11T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7O01e</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-07-11T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k4y_346</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-05-22T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k_K_JAU</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-05-22T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7p8QZ</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-05-22T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v7p18Go</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-05-23T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kGz3kFv</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-05-23T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7p81Z</id>
        <countryCode>ES</countryCode>
        <city>Barcelona</city>
        <startDateTime>2026-05-23T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v-g46Qf</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-05-30T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1k89Za0A</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-05-30T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7p8QF</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-05-30T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v-6e6Pf</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-05-31T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v-F4Ejf</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-05-31T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7bwAw</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-05-31T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vpajUQ3</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-02T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kG68__O</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-02T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7bwAS</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-02T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16vr6kefy</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-03T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ1kP-xF1o</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-03T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7bwAV</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-03T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z698xZ2qZ16v-3a6x6</id>
        <countryCode>ES</countryCode>
        <city>Madrid</city>
        <startDateTime>2026-06-06T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1eaZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Bologna</city>
        <startDateTime>2026-06-03T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1eeZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Bologna</city>
        <startDateTime>2026-06-03T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1evZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Bologna</city>
        <startDateTime>2026-06-03T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeeA6</id>
        <countryCode>IT</countryCode>
        <city>Torino</city>
        <startDateTime>2026-05-31T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeeFd</id>
        <countryCode>IT</countryCode>
        <city>Torino</city>
        <startDateTime>2026-05-31T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZee66</id>
        <countryCode>IT</countryCode>
        <city>Torino</city>
        <startDateTime>2026-06-01T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeeAa</id>
        <countryCode>IT</countryCode>
        <city>Casalecchio di Reno</city>
        <startDateTime>2026-06-05T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeeA1</id>
        <countryCode>IT</countryCode>
        <city>Roma</city>
        <startDateTime>2026-06-06T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeekv</id>
        <countryCode>IT</countryCode>
        <city>Firenze</city>
        <startDateTime>2026-06-07T15:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vA6ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Assago</city>
        <startDateTime>2026-11-21T20:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZedvv</id>
        <countryCode>IT</countryCode>
        <city>Assago</city>
        <startDateTime>2026-11-21T20:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vAAZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-11-09T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vAkZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-11-09T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Zf98xZKrZekA7eZup5QQKr</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-06-25T14:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z59rmIYnyZ7a1</id>
        <countryCode>IT</countryCode>
        <city>Venezia</city>
        <startDateTime>2026-06-27T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6veeZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-05T13:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6v6kZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2027-04-27T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6v66ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2027-04-28T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6v7vZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-14T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7OE_x</id>
        <countryCode>IT</countryCode>
        <city>Milan</city>
        <startDateTime>2026-07-14T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6v7eZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-15T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7OE_N</id>
        <countryCode>IT</countryCode>
        <city>Milan</city>
        <startDateTime>2026-07-15T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1vdZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-17T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7xZ87</id>
        <countryCode>IT</countryCode>
        <city>Milan</city>
        <startDateTime>2026-07-17T18:45:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1v7ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-18T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7xZ8A</id>
        <countryCode>IT</countryCode>
        <city>Milan</city>
        <startDateTime>2026-07-18T18:45:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vk6ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Assago</city>
        <startDateTime>2026-10-28T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZedFA</id>
        <countryCode>IT</countryCode>
        <city>Assago</city>
        <startDateTime>2026-10-28T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vkFZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Casalecchio di Reno</city>
        <startDateTime>2026-10-29T19:45:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZedFF</id>
        <countryCode>IT</countryCode>
        <city>Casalecchio di Reno</city>
        <startDateTime>2026-10-29T19:45:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk16FZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-24T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1F6ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-24T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1aeZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-24T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1FFZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-25T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1FaZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-25T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1adZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-25T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1F1ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-26T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1a7ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-26T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZekk1avZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2026-07-26T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Zf98xZKrZe7FeAZup5QQKr</id>
        <countryCode>IT</countryCode>
        <city>Firenze</city>
        <startDateTime>2026-06-26T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>Zf98xZKrZekeaAZup5QQKr</id>
        <countryCode>IT</countryCode>
        <city>Perugia</city>
        <startDateTime>2026-07-03T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Zf98xZKrZeke66Zup5QQKr</id>
        <countryCode>IT</countryCode>
        <city>Bassano del Grappa</city>
        <startDateTime>2026-07-31T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vAdZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Reggio Emilia</city>
        <startDateTime>2026-07-17T15:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZekk1</id>
        <countryCode>IT</countryCode>
        <city>Milano</city>
        <startDateTime>2027-01-29T20:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeeae</id>
        <countryCode>IT</countryCode>
        <city>Pordenone</city>
        <startDateTime>2026-07-10T19:30:00Z</startDateTime>
    </event>
    <event>
        <id>Z59rmIYnyZ7aa</id>
        <countryCode>IT</countryCode>
        <city>Rho</city>
        <startDateTime>2026-06-20T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6vv1ZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Verona</city>
        <startDateTime>2026-07-06T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Zf98xZKrZekv67Zup5QQKr</id>
        <countryCode>IT</countryCode>
        <city>Verona</city>
        <startDateTime>2026-07-06T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZG9rmIYnyZeeFA</id>
        <countryCode>IT</countryCode>
        <city>Bari</city>
        <startDateTime>2026-09-07T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z498xZKrZek6v6dZQ5jrb2j</id>
        <countryCode>IT</countryCode>
        <city>Assago</city>
        <startDateTime>2026-09-17T18:30:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7ASAU</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-07-08T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7kZ7Y</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-07-07T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7AYGI</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2026-06-22T17:20:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7AYG9</id>
        <countryCode>FR</countryCode>
        <city>Decines Charpieu</city>
        <startDateTime>2026-06-28T17:20:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7AM_V</id>
        <countryCode>FR</countryCode>
        <city>Arras</city>
        <startDateTime>2026-07-03T14:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7AM_g</id>
        <countryCode>FR</countryCode>
        <city>Arras</city>
        <startDateTime>2026-07-04T12:30:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7AM_U</id>
        <countryCode>FR</countryCode>
        <city>Arras</city>
        <startDateTime>2026-07-05T12:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A71p0P</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-10-23T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7k7Fg</id>
        <countryCode>FR</countryCode>
        <city>Nice</city>
        <startDateTime>2026-07-12T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A71aJa</id>
        <countryCode>FR</countryCode>
        <city>Decines Charpieu</city>
        <startDateTime>2026-11-11T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7F6fb</id>
        <countryCode>FR</countryCode>
        <city>Chambord</city>
        <startDateTime>2026-06-27T14:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7a0ug</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2026-12-12T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7F-o-</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-09-21T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7F-o0</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-09-21T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7kKZf</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2026-06-19T16:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7FsJ_</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-07-07T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7GJqA</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-23T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7GJr4</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-23T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7Gg_P</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-23T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7Gg_x</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-23T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7GSo_</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-24T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7Gg_E</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-24T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7Gg_N</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2027-04-24T17:30:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7aa7M</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-06-18T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7aaAZ</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-06-18T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7a6qI</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-06-20T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7aFvJ</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-06-20T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7a6qt</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-06-21T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7aFvE</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-06-21T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7ag-8</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-06-16T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>Z7r9jZ1A7baxb</id>
        <countryCode>FR</countryCode>
        <city>Marseille</city>
        <startDateTime>2026-07-01T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7ea4s</id>
        <countryCode>FR</countryCode>
        <city>Marseille</city>
        <startDateTime>2026-07-01T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7ea4M</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2026-07-04T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7e4Z0</id>
        <countryCode>FR</countryCode>
        <city>Nanterre</city>
        <startDateTime>2026-07-05T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7G74U</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-11-06T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7k7Fa</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-05-18T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7k6of</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-05-19T18:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7Go0A</id>
        <countryCode>FR</countryCode>
        <city>Paris</city>
        <startDateTime>2026-12-07T19:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7keZF</id>
        <countryCode>FR</countryCode>
        <city>Villeneuve D Ascq</city>
        <startDateTime>2026-07-03T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7k7Ge</id>
        <countryCode>FR</countryCode>
        <city>Villeneuve D Ascq</city>
        <startDateTime>2026-07-04T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>ZkyMmBwZ1A7kZPP</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-07-08T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7AxGo</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-07-10T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7Ax8N</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-07-11T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7Ax8s</id>
        <countryCode>FR</countryCode>
        <city>St Denis</city>
        <startDateTime>2026-07-12T17:00:00Z</startDateTime>
    </event>
    <event>
        <id>rZ7SnyZ1A7Ax7-</id>
        <countryCode>FR</countryCode>
        <city>Nice</city>
        <startDateTime>2026-07-21T17:00:00Z</startDateTime>
    </event>
</events>
